name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GH_TOKEN }}
        issue-message: 'Welcome to ruby_attic! Thank you so much for helping!'
        pr-message: 'Welcome to ruby_attic! Thank you for the pull request!'
